---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Contact Page";
const pageDescription = "Welcome to the Contact page of our website.";
const pageKeywords = "contact, welcome, website";
const pageAuthor = "Site Author";
---

<!-- src/pages/index.astro -->
<MainLayout
  title={pageTitle}
  description={pageDescription}
  keywords={pageKeywords}
  author={pageAuthor}
>
  <main></main>
</MainLayout>
