---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Visa from "../components/Visa.astro";

const pageTitle = "Home Page";
const pageDescription = "Welcome to the home page of our website.";
const pageKeywords = "home, welcome, website";
const pageAuthor = "Site Author";
---

<!-- src/pages/index.astro -->
<MainLayout
  title={pageTitle}
  description={pageDescription}
  keywords={pageKeywords}
  author={pageAuthor}
>
  <main>
<!-- <Hero /> -->
<!-- <Visa /> -->



</main>
</MainLayout>
