---
import { Image } from "astro:assets";
import logo from "@assets/img/logo-t.png";
---

<!-- src/components/Footer.astro --><!-- Footer start -->
<footer>
  <div class="footer__area footer-bg2 pt-95 pb-70 animated-footer">
    <div class="overlay"></div>
    <div class="plane"></div>

    <div class="container">
      <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title">
              <div class="logo mb-30">
                <a href="/"><Image src={logo} width="300" alt="" /></a>
              </div>
            </div>
            <div class="footer__widget-content">
              <div class="footer__logo-area">
                <p>Sed perspiciatis unde omnis natus error voluptatem accusan doloreqe laudantium totam aperiam eaque.</p>
                <div class="social">
                  <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <div class="footer__widget margin-left-100 mb-30">
            <div class="footer__widget-title mb-25">
              <h2>Quick Links</h2>
            </div>
            <div class="footer__widget-content">
              <div class="footer__services">
                <ul>
                  <li><a href="about.html">About Our Company</a></li>
                  <li><a href="services.html">Latest Services</a></li>
                  <li><a href="contact.html">Payment Type</a></li>
                  <li><a href="about.html">Awards Winnings</a></li>
                  <li><a href="partners.html">World Media Partner</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
          <div class="footer__widget margin-left-30 mb-30">
            <div class="footer__widget-title mb-25">
              <h2>Visa Information</h2>
            </div>
            <div class="footer__widget-content">
              <div class="footer__services">
                <ul>
                  <li><a href="business-visa.html">Visitor Visas</a></li>
                  <li><a href="contact.html">Permanent Residence Visas</a></li>
                  <li><a href="business-visa.html">Business Visas</a></li>
                  <li><a href="business-visa.html">Working Holiday Visas</a></li>
                  <li><a href="business-visa.html">Studying & Training Visas</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
          <div class="footer-widget mb-30">
            <div class="footer__widget-title mb-30">
              <h2>Newsletter</h2>
            </div>
            <div class="subscribe-footer mb-35">
              <form action="https://wphix.com/template/visapass/visapass/form.php">
                <input type="email" placeholder="Enter your email" />
                <button type="submit"><i class="fal fa-long-arrow-right"></i></button>
              </form>
            </div>
            <div class="footer__services">
              <ul>
                <li><span>Opening Time</span></li>
                <li><span> Sun - Thu : 8:30 AM - 9 PM</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-coptright theme-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-6">
            <div class="footer__text">
              <p>Copyright ©2021 BDevs. All Rights Reserved</p>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="footer-copyright__wrapper footer-copyright__wrapper2">
              <div class="footer-call d-flex align-items-center">
                <div class="footer-copyright__wrapper__icon mr-10">
                  <i class="fal fa-headset"></i>
                </div>
                <div class="footer-copyright__wrapper__call-number">
                  <span>Call - Or - SMS</span>
                  <h5><a href="tel:+1878298023">+1 878 298 023</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8); /* Adjust the color and transparency as needed */
    }

    .animated-footer {
      position: absolute;
      width: 100%;
      /* height: 250px; */
      overflow: hidden;
    }

    .city-background {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../assets/img/landscape.webp") repeat-x;
      background-size: cover;
      background-position: center;
      animation: scrollBackground 40s linear infinite;
    }

    @keyframes scrollBackground {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -10000px 0;
      }
    }

    .plane {
      position: absolute;
      width: 100px; /* Adjust as needed */
      height: 50px; /* Adjust as needed */
      background: url("../assets/img/plane.png") no-repeat;
      background-size: contain;
      animation: flyPlane 10s linear infinite;
    }

    @keyframes flyPlane {
      0% {
        left: 105px; /* Fly off the right edge */
        top: 20%; /* Adjust as needed */
      }
      50% {
        left: 95px; /* Fly off the right edge */
        top: 30%; /* Adjust as needed */
      }
      100% {
        left: 105px; /* Fly off the right edge */
        top: 20%; /* Adjust as needed */
      }
    }
  </style>

  <!--  -->


</footer>
