    <!-- Calltoaction area start -->
    <section
      class="calltoaction-area d-flex align-items-center"
      style="background-image: url(/img/calltoaction/cl-bg.jpg);"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xxl-3 col-xl-3 col-lg-3">
            <div class="calltoaction-img">
              <img src="/img/calltoaction/cl-1.png" alt="" />
            </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8">
            <h4 class="calltoaction-title pt-80 pb-75">
              Get a skilled job in abroad taking our technical courses
            </h4>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
            <div class="calltoaction-btn text-right">
              <a href="contact.html" class="theme-btn cl-btn">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Calltoaction area end -->
