<!-- About  start here -->
<section class="about-area pt-120 pb-90">
  <div class="container">
    <div
      class="row wow fadeInUp"
      data-wow-delay="0.2s"
      style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
    >
      <div class="col-xxl-6 col-xl-6 col-lg-6 mb-30">
        <div class="section_title_wrapper">
          <span class="subtitle"> About visapass </span>
          <h2 class="section-title about-span mb-30">
            <span>25+</span> Years of Your Trust and Recommendation
          </h2>
          <div class="section_title_wrapper-about-content">
            <h5>ISO Certified & Best Immigration Award 2018 Winner</h5>
            <p>
              For the last 35 years, We have helped students, business persons,
              tourists, clients with medical needs to acquire U.S. visas.
              Besides, we also help with other family based, employment based &
              investment based Immigration. Aenean vestibulum ornare sapien, at
              pharetra massa consectetur et. Aliquam sit amet ipsum
            </p>
            <a href="about.html" class="theme-btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 mb-30">
        <div class="about_wrapper">
          <div class="about_wrapper__certificate">
            <img src="/img/about/certificate.png" alt="" />
          </div>
          <div class="about_wrapper__group">
            <div class="about_wrapper__group-top mb-15">
              <img src="/img/about/about-1.jpg" alt="" />
            </div>
            <div
              class="about_wrapper__group-btm d-flex align-items-center justify-content-end"
            >
              <div class="about_wrapper__group-btm-img1 ml-30">
                <img src="/img/about/about-2.jpg" alt="" />
              </div>
              <div class="about_wrapper__group-btm-img2 ml-15">
                <img src="/img/hero/slider-bg-3.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About  end here -->
