---
import logo from "@assets/img/logo/logo.webp";
import { Image } from "astro:assets";
---

<!-- src/components/Header.astro -->
<header>
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-8 col-lg-6">
          <div class="header-top-left">
            <ul style="display: flex;">
              <li style="margin-right: 30px;">
                <i class="fas fa-envelope"></i>
                <a href="mailto:delhi@theaoneglobal.com">delhi@theaoneglobal.com</a>
              </li>
              <li>
                <i class="fas fa-phone-alt"></i>
                <a href="tel:+91-9821670673">+91-9821670673</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xxl-4 col-lg-6">
          <div class="topheader-info">
            <!-- <div class="top-button f-right">
              <a href="contact.html">Apply Now</a>
            </div> -->
            <div class="header-location f-right">
              <ul style="display: flex;">
                <li style="margin-right: 10px;">
                  <i class="fas fa-headset"></i>
                  <a href="/contact-us">Request a Callback</a>
                </li>

                <li>
                  <i class="fab fa-facebook"></i>
                  <a href="" target="_blank"></a>
                </li>
                <li>
                  <i class="fab fa-youtube"></i>
                  <a href="" target="_blank"></a>
                </li>
                <li>
                  <i class="fab fa-instagram"></i>
                  <a href="contact.html" target="_blank"></a>
                </li>
                <li>
                  <i class="fab fa-linkedin"></i>
                  <a href=""></a>
                </li>
              </ul>
            </div>
            <!-- <div class="header-language f-right"> -->
            <!-- <ul>
                <li>
                  <i class="fas fa-headset"></i>
                  <a href="contact.html">Request a Callback</a>
                </li>
              </ul> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-menu header-sticky">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-2 col-xl-2 col-lg-2 col-8">
          <div class="header-logo">
            <a href="index.html"><Image src={logo} class="img-fluid" alt="img" /></a>
          </div>
        </div>
        <div class="col-xxl-7 col-xl-7 col-lg-7 col-4">
          <div class="main-menu d-none d-lg-block">
            <nav id="mobile-menu">
              <ul>
                <li class="menu-item-has-children">
                  <a>About</a>
                  <ul class="sub-menu">
                    <li><a href="/our-team">Our Team</a></li>
                    <li><a href="/branches">Branches</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="/services">Services</a>
                  <!-- <ul class="sub-menu">
                    <li><a href="coaching.html">Coaching</a></li>
                    <li><a href="ielts-course.html">Coaching Details</a></li>
                  </ul> -->
                </li>
                <li class="menu-item-has-children">
                  <a href="services.html">Destination</a>
                  <ul class="sub-menu">
                    <li><a href="services.html">Australia</a></li>
                    <li><a href="business-visa.html">Canada</a></li>
                    <li><a href="student-visa.html">UK</a></li>
                    <li><a href="student-visa.html">USA</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Test Preparation</a>
                  <ul class="sub-menu">
                    <li><a href="about.html">IELTS Test Preparation</a></li>
                    <li><a href="team.html">PTE Test Preparation</a></li>
                    <li><a href="team-details.html">SAT Test Preparation</a></li>
                    <li><a href="countries.html">TOEFL Preparation</a></li>
                    <li><a href="united-states.html"> Interview Preparation</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="news.html">Contact Us</a>
                </li>
                <!-- <li><a href="contact.html">Study Abroad</a></li> -->
              </ul>
            </nav>
          </div>
          <div class="side-menu-icon d-lg-none text-end">
            <button class="side-toggle"><i class="far fa-bars"></i></button>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3">
          <div class="main-menu-wrapper d-flex align-items-center justify-content-end">
            <!-- <div class="main-menu-wrapper__search text-left">
              <a class="search-btn nav-search search-trigger" href="#"><i class="fal fa-search"></i></a>
            </div> -->
            <div class="main-menu-wrapper__call-number d-flex align-items-center">
              <!-- <div class="main-menu-wrapper__call-icon mr-10">
                <img src="/img/menu-icon/chatting.png" alt="" />
              </div> -->
              <div class="main-menu-wrapper__call-text">
                <div class="top-button f-right">
                  <a href="contact.html">Eligilibity Test</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-overlay"></div>
  <div class="fix">
    <div class="side-info">
      <button class="side-info-close"><i class="fal fa-times"></i></button>
      <div class="side-info-content">
        <div class="mobile-menu"></div>
      </div>
    </div>
  </div>
</header>
