<!-- hero area start here -->
<section class="slider-area fix">
  <div class="slider-active swiper-container">
    <div class="swiper-wrapper">
      <div
        class="single-slider slider-height d-flex align-items-center swiper-slide"
        data-swiper-autoplay="5000"
      >
        <div class="slide-bg" data-background="/img/hero/slider-bg-1.jpg"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="aslider z-index">
                <span
                  class="slider-top-text"
                  data-animation="fadeInUp"
                  data-delay=".5s">Effective Visa Solution</span
                >
                <h2
                  class="aslider--title mb-25"
                  data-animation="fadeInUp"
                  data-delay=".7s"
                >
                  Visa & Immigration <br /> Consultation
                </h2>
                <p
                  class="aslider--subtitle mb-40"
                  data-animation="fadeInUp"
                  data-delay=".9s"
                >
                  Our professionalism, honesty, sincerity & dedication to client
                  service <br /> has helped our clients to fulfill their wishes
                </p>
                <div
                  class="aslider--btn"
                  data-animation="fadeInUp"
                  data-delay=".9s"
                >
                  <a href="contact.html" class="theme-btn blacks-hover"
                    >Book Now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="single-slider slider-height d-flex align-items-center swiper-slide"
        data-swiper-autoplay="5000"
      >
        <div class="slide-bg" data-background="/img/hero/slider-bg-2.jpg"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="aslider z-index">
                <span
                  class="slider-top-text"
                  data-animation="fadeInUp"
                  data-delay=".5s">Effective Visa Solution</span
                >
                <h2
                  class="aslider--title mb-25"
                  data-animation="fadeInUp"
                  data-delay=".7s"
                >
                  Visa & Immigration <br /> Consultation
                </h2>
                <p
                  class="aslider--subtitle mb-40"
                  data-animation="fadeInUp"
                  data-delay=".9s"
                >
                  Our professionalism, honesty, sincerity & dedication to client
                  service <br /> has helped our clients to fulfill their wishes
                </p>
                <div
                  class="aslider--btn"
                  data-animation="fadeInUp"
                  data-delay=".9s"
                >
                  <a href="contact.html" class="theme-btn blacks-hover"
                    >Book Now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev slide-prev">
      <i class="far fa-long-arrow-left"></i>
    </div>
    <div class="swiper-button-next slide-next">
      <i class="far fa-long-arrow-right"></i>
    </div>
  </div>
</section>
<!-- hero area end here -->
