---
const  title = title

---

<!-- page title area start -->
<div class="page-title__area pt-110" style="background-image: url(assets/img/about-us/ab-us.jpg);">
    <div class="container">
        <div class="row">
           <div class="col-xxl-12">
              <div class="page__title-wrapper text-center">
                 <h3 class="pb-100">{title}</h3>
              </div>
           </div>
        </div>
     </div>
     <nav class="breadccrumb-bg">
        <ul class="breadcrumb justify-content-center pt-20 pb-20">
           <li class="bd-items"><a href="index.html">Home</a></li>
           <li class="bd-items bdritems">|</li>
           <li class="bd-items"> <a href="team.html">{title}</a></li>
        </ul>
     </nav>
</div>
 <!-- page title area end -->