<section class="features-services pt-80 pb-120 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50">
          <span class="subtitle"> Meet Our Team</span>
          <h2 class="section-title">Our Team</h2>
        </div>
      </div>
    </div>
  </div>
</section>
