<!-- Team area start -->
<section class="team-area grey-soft-bg pt-110 pb-80">
  <div class="container">
    <div
      class="row justify-content-center wow fadeInUp"
      data-wow-delay="0.3s"
      style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
    >
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50">
          <span class="subtitle"> Authorized Agents </span>
          <h2 class="section-title">
            Our Agents Who are <br /> Dedicatedly Working With Us
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="0.3s"
        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
      >
        <div class="team text-center mb-30">
          <div class="team__thumb team__thumb-2 mb-25">
            <img src="/img/team/t-1.jpg" alt="" />
            <div class="team__thumb-info">
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="team__text">
            <h3 class="team__text-title">
              <a href="team-details.html">Marida Tohaman</a>
            </h3>
            <span>CEO, Visapass</span>
          </div>
        </div>
      </div>
      <div
        class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="0.5s"
        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"
      >
        <div class="team text-center mb-30">
          <div class="team__thumb team__thumb-2 mb-25">
            <img src="/img/team/t-2.jpg" alt="" />
            <div class="team__thumb-info">
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="team__text">
            <h3 class="team__text-title">
              <a href="team-details.html">Daniel Hasmass</a>
            </h3>
            <span>Sr. Consultant</span>
          </div>
        </div>
      </div>
      <div
        class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="0.7s"
        style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;"
      >
        <div class="team text-center mb-30">
          <div class="team__thumb team__thumb-2 mb-25">
            <img src="/img/team/t-3.jpg" alt="" />
            <div class="team__thumb-info">
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="team__text">
            <h3 class="team__text-title">
              <a href="team-details.html">Narayan Kamora</a>
            </h3>
            <span>Senior Lawyer</span>
          </div>
        </div>
      </div>
      <div
        class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="0.9s"
        style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;"
      >
        <div class="team text-center mb-30">
          <div class="team__thumb team__thumb-2 mb-25">
            <img src="/img/team/t-4.jpg" alt="" />
            <div class="team__thumb-info">
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="team__text">
            <h3 class="team__text-title">
              <a href="team-details.html">Marida Tohaman</a>
            </h3>
            <span>Manager</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team area end -->
