<section class="tagent__area grey-bg-3 pt-110 pb-40">
  <div class="tagent__bg team_bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 d-flex align-items-center">
        <div class="section_title_wrapper pr-70">
          <span class="subtitle"> Authorized Agents </span>
          <h2 class="section-title">Agents are Dedicatedly Working With Us</h2>
          <p class="pt-30 mb-40">
            We have helped students, business persons, tourists, clients with medical needs to acquire U.S. visas. Besides, we also help with other family and provide counseling services for
            immigration
          </p>
          <a href="#" class="theme-btn">Join With Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
